.rightside{
    background-color: #7297C4;
    width: 40%;
}
.leftSide{
    width: 60%; 
}
.Shape{
    background-color: #32A7E2;
}
.Shape1{
    background-color: #B548C6;
}
.Shape2{
    background-color: #FF8700;
}
.Shape3{
    background-color: #DC3434;
}
.Shape4{
    background-color: #4BA83D;
}